/* 
#E5FDD1


#B5F1CC

*/



body{
    margin: 0px;
    background-color: #C9F4AA;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:inline-flexbox;
}

.delete{
    background-color: rgb(237, 225, 225);
}

.listItem{
    background-color: #B5F1CC
    ;
    border: 1px solid rgb(244, 237, 237);
}

#groceries{
    justify-items: center;
    height: auto;
    width: 550px;
    background-color: #E5FDD1;
    border: 1px solid #B5F1CC
    ;
}

#login{
    float: right;
    text-decoration: none;
    color: black;
    font-size: 20px;
    


}